.search-patient {
    width: 100%;
    padding: 2rem 2.5rem;
    min-height: 50rem;
    background-blend-mode: color;
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark)), url(https://images.unsplash.com/photo-1576091160550-2173dba999ef?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
}

.patient-preview__list {
    margin: 15rem auto 10rem;
    list-style: none;
}

.patient-preview {
    width: 100%;
    height: 5rem;
    background-color: var(--color-grey-dark-3);
    padding: 5rem 2rem;

    /* border: .3rem solid var(--color-grey-dark-2); */
    border-radius: 20px;
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* background-image: linear-gradient(to right, rgba(255, 255, 255, .8) 0%, rgba(255, 255, 255, .8) 18%, rgba(255, 255, 255, .7) 18%); */
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    color: var(--color-grey-dark-1);

    backdrop-filter: blur(2px);

    backdrop-filter: blur(2px);
    transition: all .2s;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .5s;
}

.patient-preview:hover {
    /* background-image: linear-gradient(to right, rgba(255, 255, 255, .7) 0%, rgba(255, 255, 255, .7) 18%, rgba(255, 255, 255, .7) 18%); */
    background-color: var(--color-grey-light-1);
    /* border: .3rem solid var(--color-primary); */
    /* color: var(--color-black); */
    cursor: pointer;
}

.go-back__btn {
    margin-top: 5rem;
    width: 60%;
    font-size: 2.4rem;
    padding: .5rem 2rem;
    color: var(--color-white);
    border-radius: .5rem;
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all .2s;
    cursor: pointer;
}

.go-back__btn:active {
    transform: scale(.92);
}

.go-back__btn:hover {
    border: 2px solid var(--color-primary-dark);
    background-color: var(--color-primary-dark);
}

.resolve-appointment {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
}

.patient-info {
    width: 75%;
}

.id {
    font-size: 5rem;
    font-weight: 700;
    width: 10%;
    text-align: center;
}

.name {
    font-size: 4rem;
    font-weight: 500;
    width: 80%;
}