.account {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.account__table {
    width: 60%;
}

.account__table .table__list-item {
    padding: 1rem 2rem !important;
}